body{
    background-color:lightgray;
    background-image: url('The\ Hunger\ Games.png');
    background-position: center;
    background-position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
h1{
    color:goldenrod;
    text-align: center;
    background-color: black;
}
p{
    width:600px;
    margin:0 auto;
}
button{
    text-align: center;
    size: 50px;
    border-radius: 5px;
    border-width:0px;
    color:white;
    background-color:black;
    height: 30px;
    width: 100px;
}
footer{
    text-align:center;
    display:block;
}
a{
    text-decoration: none;
    display: inline;
    margin-top: 150px;
    color:white;
}