body{
    text-align:center;
}
h1{
    color:goldenrod;
    text-align: center;
    background-color: black;
}
img{
    float:left;
    margin-right: 5px;
    max-width: 130px;
    position: relative;
    overflow: auto;
}
.clearfix{
    text-align: center;
    overflow:auto;
    width:100%;
}
p{
    background-color:lightgray;
    max-width: 600px;
    margin:1em auto;
    text-align: justify;
}
.p1{
    background-color:rgb(209, 209, 172);
    max-width: 600px;
    margin:1em auto;
    text-align: justify;
}
button{
    text-align: center;
    size: 50px;
    border-radius: 5px;
    border-width:0px;
    color:white;
    background-color:black;
    height: 30px;
    width: 100px;
    display: inline-block;
}
a{
    text-decoration: none;
    display: inline;
    margin-top: 150px;
    color:white;
}
footer{
    text-align:center;
    display:block;
}